@import "tailwindcss";
 
*{
  box-sizing: border-box;
  margin: 0;
}
:root {
  --background: #1E2027;
  --textColor: #FFFFFF;
  --textSecondaryColor: #F3F4F4;
  --highlightColor: #DFAE4F;
  --foreground: #171717;
  --textDark: #1E2027;
  --sectionBg: #F0EEE9;
}
  /* font-family: "Playfair Display", serif; */
    /* font-family: "Poppins", sans-serif; */
button{
  cursor: pointer;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html{
  height: 100vh;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
  font-size: 14px;
    color: #333;
    min-height: 100%;
    margin: 0;
    font-size: 14px;
    line-height: 20px;

}

.v-bg {
  background-color: var(--background);
}
.v-bg-highlight {
  background-color: var(--highlightColor);
}
.v-highlight-color {
  color: var(--highlightColor);
}
.v-text-white {
  color: var(--textColor);
}
.v-bg-white {
  background-color: var(--textColor);
}

.v-text-secondary {
  color: var(--textSecondaryColor);
}

.v-foreground {
  color: var(--foreground);
}

.v-text-dark {
  color: var(--textDark);
}
a{
  letter-spacing: 4px;
}
.container-default{
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
        padding-left: 24px;
    padding-right: 24px;
}

header li {
  white-space: nowrap;
  
  
}
header a {
  transition: all 0.6s ease;
}
#mobile-menu {
  display: none;
}
#mobile-menu button{
    width: 100%;
    
}
#mobile-menu button p{
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 991px) {
    header ul li a {
      font-size: .8rem;
    }
    #logo{
      width: 60px;
    }
}

@media(max-width: 900px){
  #btn-contact{
    display: none;
  }
}  
@media(max-width: 768px){
  header{
    position: fixed;
  }
  #mobile-menu{
    display: flex;
    position: fixed;
    left: 0;
    top: 105px;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    font-size: 2rem;
    line-height: 3rem;
    text-transform: uppercase;
    #logo-mobile{
      margin-bottom: 40px!important;
    }
  }
  
}   

@media(max-width: 500px){
    #mobile-menu {
      font-size: 1rem;
    }
}

